html {
    box-sizing: border-box;
}

body {
    font-size: $font-size--main;

    @media (min-width: $screen-desktop) {
        display: flex;
        justify-content: center;
    }
}

*,
*:before,
*:after {
    box-sizing: inherit;
}