$font-weight--normal: 400;
$font-weight--bold: 700;
$font-style--normal: normal;
$font-family-title: 'TT Lakes', 'Helvetica', sans-serif;
$font-size--h1: 1.75rem;

$color-title: #1b1c21;

$line-height-title: 2.5rem;

$letter-spacing-title: -0.0375rem;

$background-color-main: #fff;
$background-color-light-gray: #eaeaea;
$background-color-lighted-gray: #f8f8f8;
$background-color-pink: #ff3e79;
$background-color-aqua-blue: #41f6d7;

$screen-mobile: 320px;
$screen-pad: 768px;
$screen-laptop: 1120px;
$screen-desktop: 1440px;

$link-icon-background-width: 40px;
$link-icon-background-height: 40px;
$link-icon-width: 40px;
$link-icon-height: 40px;

$border-radius-round: 50%;