$font-weight--normal: 400;
$font-weight--bold: 700;

$font-style--normal: normal;

$font-family-title: 'TT Lakes', 'Helvetica', sans-serif;
$font-family-content: 'TT Lakes', 'Helvetica', sans-serif;

$font-size--main: 16px;
$font-size--h1: 1.75rem;
$font-size--modal: 1.5rem;
$font-size--content: 1rem;
$font-size--content-small: 0.875rem;
$font-size--btn: 0.75rem;

$color-title: #1b1c21;
$color-content--light: #7e7e82;
$color-content--main: #1b1c21;
$color-content--btn: #fff;
$color-content--form: #b5b6bc;
$color-content--link: #ff3e79;
$color-nav-border: #b8ffec;
$color-form-border: #eaeaea;
$color-line--separate-blocks: #d9fff5;
$color-bullet-pagination: #dddddd;
$color-bullet-pagination--active: #b5b6bc;

$line-height-title: 2.5rem;
$line-height-title--modal: 2rem;
$line-height-content--small: 1.15rem;
$line-height-content: 1.3rem;
$line-height-content--large: 1.5rem;

$letter-spacing-title: -0.0375rem;
$letter-spacing-title--large: -0.0125rem;
$letter-spacing-content: -0.0125rem;
$letter-spacing-content--large: 0.0125rem;

$background-color-main: #fff;
$background-color-gray--lighten: #f8f8f8;
$background-color-gray--light: #eaeaea;
$background-color-link-icon: #ff3e79;
$background-color-btn: #ff3e79;
$background-color-title--active: #41f6d7;
$background-color-transparent: transparent;

$screen-mobile: 320px;
$screen-pad: 768px;
$screen-laptop: 1120px;
$screen-desktop: 1440px;

$link-icon-background-width: 40px;
$link-icon-background-height: 40px;
$link-icon-width: 40px;
$link-icon-height: 40px;

$border-radius-round: 50%;

$height--full-screen: 100vh;