.title-h2 {
  font-family: $font-family-title;
  font-size: $font-size--main;
  font-weight: $font-weight--normal;
  line-height: $line-height-content--large;
  letter-spacing: $letter-spacing-title--large;
  color: $color-content--light;
  text-transform: uppercase;
  border-top: 1px solid $color-line--separate-blocks;
}
