.page-footer {
    padding: 1.5rem;
    padding-top: 2rem;
    padding-bottom: 0;
    display: flex;
    border-top: 1px solid $color-line--separate-blocks;
    background-color: $background-color-gray--lighten;

        @media (max-width: calc(#{$screen-pad} - 1px)) {
            flex-wrap: wrap;
        }

    &__copyright {
        width: 33.333%;

        @media (max-width: calc(#{$screen-pad} - 1px)) {
            width: 100%;
            text-align: center;
            margin-bottom: 1rem;
        }
    }

    &__privacy {
        width: 33.333%;

        @media (max-width: calc(#{$screen-pad} - 1px)) {
            width: 100%;
            margin-bottom: 1rem;
            text-align: center;
        }
    }

    &__not-offerta {
        width: 33.333%;
        text-align: right;

        @media (max-width: calc(#{$screen-pad} - 1px)) {
            width: 100%;
            text-align: center;
        }
    }
}