.text-footer {
  font-size: $font-size--content-small;
  line-height: $line-height-content--small;
  color: $color-content--light;
  letter-spacing: $letter-spacing-content--large;
  font-family: $font-family-content;
}
